@{
    ViewData["Title"] = "AuroraBricks";
}

	<body>

		<!-- The modal -->
		<div id="myModal" class="modal">
			<!-- Modal content -->
			<div class="modal-content">
				<span class="close">&times;</span>
				<div style="text-align: center; margin-bottom: 1rem;">
					<h2 style="color: black;">Do you want to add<br>this to your cart?</h2>
				</div>
				<div style="display: flex; justify-content: center; align-items: center;">
					<img src="images/Batman.jpg" class="img-fluid product-thumbnail" style="margin-bottom: 1rem; width: 70%;">
				</div>
				<div style="text-align: center; margin-bottom: 1rem; color: black;">
					<h4>Batman Lego Set</h4>
				</div>		
				<div style="text-align: center;">
					<button class="btn btn-primary">
						<p style="margin-bottom: 0rem;">No</p>
					</button>
					<button class="btn btn-primary">
						<p style="margin-bottom: 0rem;">Yes</p>
					</button>
				</div>
			</div>
		</div>

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Look At Our <span clsas="d-block">New Lego Sets</span></h1>
								<p class="mb-4">We feature new Lego sets every week, come check out our wide variety! </p>
                                <br><br>
						<p>
							<a class="btn btn-secondary me-2" asp-area="" asp-controller="Home"
							   asp-action="Shop" asp-route-pageNum="1">Explore</a>
						</p>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="hero-img-wrap">
								<img src="images/HarryPotterLego-removebg.png" style="width: 35rem;" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		<!-- Start Product Section -->
		<div class="product-section" style="margin-bottom: 8rem;">
			<div class="container">
				<div class="row">

					<!-- Start Column 1 -->
					<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
						<h2 class="mb-4 section-title" style="font-size: 50px;">Check Out Our Popular Sets!</h2>
						<p class="mb-4" style="font-size: 20px; color: black;">Come check out the epic sets we have and build with us! </p>
						<p><a asp-area="" asp-controller="Home"
							   asp-action="Shop" asp-route-pageNum="1" class="btn">Explore</a></p>
					</div> 
					<!-- End Column 1 -->

					@foreach (Product p in Model) {
					<!-- Start Column 1 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5" style="width: 33.33%">
						<a class="product-item" style="height: 100%;" asp-area="" asp-controller="Home" asp-action="ProductDetail"
						   asp-route-productId="@p.ProductId"
						   asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">
							<img src="@p.ImgLink" alt="@p.Name Image" class="img-fluid product-thumbnail" onclick="redirectToProduct()">
							<h3 class="product-title">@p.Name</h3>
							<strong class="product-price">$@p.Price</strong>

							<!-- Add to cart -->
							<span class="icon-cross" onclick="openModal('@p.ProductId')">
								<img src="images/cross.svg" class="img-fluid">
							</span>
						</a>
					</div>
				}
				</div>
			</div>
		</div>
		<!-- End Product Section -->

		<!-- Start Why Choose Us Section -->
		<div class="why-choose-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-6">
						<h2 class="section-title" style="font-size: 50px;">Why Choose Us</h2>
						<br>
						<p style="font-size: 20px; color: black;">We are striving to extend our love for Legos! Come learn more about what makes this so special.</p>

						<div class="row my-5">
							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="images/truck.svg" alt="Image" class="imf-fluid">
									</div>
									<h3>Fast Shipping</h3>
									<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="images/bag.svg" alt="Image" class="imf-fluid">
									</div>
									<h3>Easy to Shop</h3>
									<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="images/support.svg" alt="Image" class="imf-fluid">
									</div>
									<h3>24/7 Support</h3>
									<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="images/return.svg" alt="Image" class="imf-fluid">
									</div>
									<h3>Hassle Free Returns</h3>
									<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
								</div>
							</div>

						</div>
					</div>

					<div class="col-lg-5">
						<div class="img-wrap">
							<img src="images/Minecraft-removebg-preview.png" alt="Image" class="img-fluid">
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End Why Choose Us Section -->

		<!-- Start Blog Section -->
		<div class="blog-section">
			<div class="container">
				<div class="row mb-5">
					<div class="col-md-6">
						<h2 class="section-title">Proud Parters With</h2>
					</div>
				</div>

				<div class="row">

					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="images/StarWarsLogo.png" alt="Image" class="img-fluid"></a>
							
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="images/HarryPotterLogo.png" alt="Image" class="img-fluid"></a>
							
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="images/MinecraftLogo.png" alt="Image" class="img-fluid"></a>
							
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="images/FerrariLogo.jpeg" alt="Image" class="img-fluid"></a>
							
						</div>
					</div>
					
					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="images/DisneyLogo.jpg" alt="Image" class="img-fluid"></a>
							
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End Blog Section -->	

	

		<script>
			function openModal() {
				modal.style.display = "block";
			}

			function redirectToProduct() {
				window.location.href = "product_detail.html";
			}

			// Get the modal
			var modal = document.getElementById("myModal");

			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("close")[0];

			// When the user clicks on <span> (x), close the modal
			span.onclick = function() {
			modal.style.display = "none";
			}

			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(event) {
				if (event.target == modal) {
					modal.style.display = "none";
				}
			}


		</script>
	</body>
</html>