@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = Model.Item1.Name;
}
@model Tuple<Product, string> // The first item is the product being viewed, the second item is the returnUrl


<!-- Start Hero Section -->
<div class="hero" style="padding: 0px;">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>Shop</h1>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="untree_co-section product-section before-footer-section" style="padding: 4rem 0 12rem 0 !important;">
	<div class="container">
		<div class="row" style="flex-wrap: nowrap;">
				<div class="col-6">
					<div class="row">
						<img src="@Model.Item1.ImgLink" alt="@Model.Item1.Name Image" style="width: inherit;" />
					</div>
					<div class="row">
						<form id="@Model.Item1.ProductId" method="post" asp-page="/Cart" style="display: flex; flex-direction: column;">
							<input type="hidden" asp-for="@Model.Item1.ProductId" id="ProductId" name="ProductId" />
							<input type="hidden" name="returnUrl" value="@Model.Item2" />
						<button type="submit" class="btn-outline-success btn-sm float-end btn btn-secondary me-2 btn-white-outline" style="background-color: #f9bf29; font-size: 30px;">Add to Cart</button>
						</form>
					</div>
				</div>
				<div class="col-6" style="margin-left: 5rem; width: 50%">
					<h1 style="color: black; font-size: 50px;">@Model.Item1.Name</h1>
					<h2 style="color: black; font-size: 40px; margin-bottom: 2rem;">$@Model.Item1.Price</h2>
					<p style="color: black; font-size: 25px; margin-bottom: 2rem;">@Model.Item1.Description</p>
				</div>
		</div>
	</div>
</div>
<!-- Start Suggestions Section -->

<div class="untree_co-section product-section before-footer-section">
	<div class="container">
		<div class="row">
			<div style="text-align: center; margin-bottom: 2rem;">
				<h1 style="color: black; font-size: 60px;">Customers Also Liked</h1>
			</div>

			<!-- Start Column 1 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5" style="width: 33.33%">
				<a class="product-item" style="height: 100%;">
					<img src="images/Batman.jpg" class="img-fluid product-thumbnail" onclick="redirectToProduct()">
					<h3 class="product-title">Nordic Chair</h3>
					<strong class="product-price">$50.00</strong>

					<!-- Add to cart -->
					<span class="icon-cross" onclick="openModal()">
						<img src="images/cross.svg" class="img-fluid">
					</span>
				</a>
			</div>
			<!-- End Column 1 -->
			<!-- Start Column 1 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5" style="width: 33.33%">
				<a class="product-item" style="height: 100%;">
					<img src="images/HarryPotterLego-removebg.png" class="img-fluid product-thumbnail" onclick="redirectToProduct()">
					<h3 class="product-title">Nordic Chair</h3>
					<strong class="product-price">$50.00</strong>

					<!-- Add to cart -->
					<span class="icon-cross" onclick="openModal()">
						<img src="images/cross.svg" class="img-fluid">
					</span>
				</a>
			</div>
			<!-- End Column 1 -->
			<!-- Start Column 1 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5" style="width: 33.33%">
				<a class="product-item" style="height: 100%;">
					<img src="images/Ferrari.jpg" class="img-fluid product-thumbnail" onclick="redirectToProduct()">
					<h3 class="product-title">Nordic Chair</h3>
					<strong class="product-price">$50.00</strong>

					<!-- Add to cart -->
					<span class="icon-cross" onclick="openModal()">
						<img src="images/cross.svg" class="img-fluid">
					</span>
				</a>
			</div>
			<!-- End Column 1 -->

		</div>
	</div>
</div>


<!-- End Suggestions Section -->



<!-- /*
* Bootstrap 5
* Template Name: Furni
* Template Author: Untree.co
* Template URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="favicon.png">

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap4" />

	<!-- Bootstrap CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	<link href="css/tiny-slider.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<title>Furni Free Bootstrap 5 Template for Furniture and Interior Design Websites by Untree.co </title>
</head>

<body>

	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/tiny-slider.js"></script>
	<script src="js/custom.js"></script>
</body>

</html>
